<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DAM-DAW_M03_T2_ACT_01/Ejercicio2/Cuenta.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Ejercicio2.Cuenta"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DAM-DAW_M03_T2_ACT_01"/>
</launchConfiguration>
